.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .slideshow {
    overflow: hidden;
    text-align: center;
  }
  
  .slideshow img {
    width: 50%;
    height: auto;
    transition: transform 0.5s ease;
  }
  
  .controls {
    position: absolute;
    top: 90%;
    left: 250px; /* 좌측 여백 조절 */
    transform: translateY(-50%);
  }
  
  .controls button {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px;
    outline: none;
  }
  
  .controls button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }